/* Root background */
.root {
    -fx-background-color: #cf9a3d;
    -fx-font-family: Arial;
}

/* Menu Bar */
.menu-bar {
    -fx-background-color: #863c06;
}

.menu-item:focused {
    -fx-background-color: #c4a16f;
}

/* TableView */
.table-view {
    -fx-border-color: #b1b1b1;
}

.table-view .column-header-background {
    -fx-background-color: #e3c2a9;
}

.table-row-cell:selected {
    -fx-background-color: #b1b1b1;
}

/* Form VBox */
.form-box {
    -fx-background-color: #26ed11;
    -fx-padding: 20;
    -fx-background-radius: 10;
}

.bottom-box {
    -fx-background-color: #888080;
    -fx-background-radius: 10;
}

/* Labels inside form */
.form-box .label {
    -fx-text-fill: white;
}

/* TextFields */
.text-field {
    -fx-padding: 8;
    -fx-background-radius: 5;
}

/* Buttons */
.button {
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-background-color: brown;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #d07d40;
}

.button:pressed {
    -fx-background-color: #a8612e;
}